name: firstworkflow
on:
  push:
    branches:
      - main
      - master
jobs:
  example-job:
    runs-on: ubuntu-latest
    steps: 
      - name: print welcome message
        run: echo " welcome fuck you "
      - name: checkout repo
        uses: actions/checkout@v6.0.0
      - name: list files 
        run : ls
        

        
        
      
      
    
    
    
  
