on: 

  push:
    branches:
      - master
      - "release/**"
    paths:
      - "src/**"
  pull_request:
    branches:
      - master
      - "release/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout_code
        uses: actions/checkout@v6.0.0
      - name: run test
        run:  npm test
